{% extends "base.html" %}
{% block content %}
<div class="d-flex justify-content-between mt-2 border-bottom">
    <h1 class="h2">Home</h1>
</div>
<div class="container text-center">
    <div class="row mt-2">
        {% for country in countries|dictsort:"Country" %}

        <div class="card m-2 country-link" style="width: 18rem;">
            <a href="{% url 'indicators' country.Country|lower %}" class="card-body" style="text-decoration: none;">
                <h5 class="card-title">{{ country.Country  }}</h5>
                <h6 class="card-subtitle mb-2 text-body-secondary">{{ country.Continent }}</h6>
                <span class="label label-primary">{{ country.ISO3 }}</span>
                <span class="label label-info">{{ country.ISO2 }}</span>
            </a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}



